.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.credentialContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 600px;
  width: 70vw;
  margin: 20px auto;
  padding: 20px;
  background-color: #61dafb;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  flex: 1;
  max-width: 600px;
  padding: 10px;
  row-gap: 10px;
}

.verifyToggle {
  padding: 10px;
  cursor: pointer;
  width: 30px;
  height: 100%;
  background-image: url("./assets/tick.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  justify-self: flex-end;
  align-items: center;
}

.buttonClicked {
  background-color: #aaa;
}

.buttonDefault {
  background-color: #ddd;
}

.claimBox {
  display: flex;
  flex-direction: row;
  /* outline: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
}

.errorRect {
  outline: 2px solid maroon;
  background-color: lightcoral;
  color: maroon;
  width: 300px;
  margin: 6px;
  border-radius: 6px;
  margin-top: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}